<h1>Add Manufacturer</h1>

<form action="/manufacturers" method="post">
 <label for="manufacturer_name">Manufacturer Name:</label>
 <input type="text" name="manufacturer_name" id="manufacturer_name" value="<% manufacturer.manufacturer_name %>">

  <input type="submit" value="Add Manufacturer">
</form>
