<h1>List of Infinty Stones</h1>


<% for manufacturer in @manufacturers %>
  <p>ID: <%= manufacturer.id %></p>
  <p> Manufacturer <%= manufacturer.manufacturer_name %></p>
  <p> <a href= "/manufacturers/<%= manufacturer.id() %>">Manufacturer info</a></p>

  <hr>

<% end %>
