<p>ID: <%= @manufacturers.id %></p>
<p> Manufacturer: <%= @manufacturers.manufacturer_name %></p>
<a href="/manufacturers/<%= @manufacturers.id %>/edit">Edit</a>
<form action="/manufacturers/<%= @manufacturers.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
